@import "tailwindcss";

@theme {
  --color-brand-dark: #1e3a5f;
  --color-brand-accent: #2c5282;
  --color-brand-bg: #f0f2f5;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Assistant', sans-serif;
  background-color: var(--color-brand-bg);
  color: #1a202c;
}